{% extends 'base.html' %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/blogs.css' %}">
{% for blog in blogs %}
<div class="blog animate__animated ">
    <div class="row">
        <div class="col-lg-4 image-div">
            <img src="/media/{{blog.blog_image}}" title="{{blog.blog_title}}" class="rounded" width="100%">
        </div>
        <div class="col-lg-8">
            <span class="heading">{{blog.blog_title}}</span>
            <div class="content">
                {% autoescape off %}
                {{blog.blog_content}}
                {% endautoescape %}
            </div>
            <div class="read-more"><a href="{% url 'blog_app:blog_details' slug=blog.slug %}">Read More</a></div>
            <span class="author">
                <span class="fa fa-user"></span> by <span>{{blog.author}} </span> <span class="fa fa-calendar"></span>
                <span class="date">{{blog.publish_date}} </span> <span class="fa fa-comment"></span>
                <span> {{ blog.blog_comment.count }} comment(s)</span>
            </span>
        </div>
    </div>
</div>
{% endfor %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a href="?page=1" class="page-link">&laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"">Previous</a></li>
        {% endif %}

        <li class=" page-item"><a class="page-link" href="javascript:void(0)">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

        {% if page_obj.has_next %}
        <li class=" page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
        <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}