<header>
  <!-- Navigation -->
  <nav class="container navbar navbar-expand-lg navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link home" href="{% url 'index' %}">Home</a>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav inner ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog_app:blog_list' %}">Posts</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog_app:create_blog' %}">New Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog_app:my_blogs' %}">My Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users_app:signout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users_app:signin' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>