@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

.heading {
    font-size: 1.4rem;
    color: darkred;
    font-family: 'Varela Round', sans-serif;
}

.blog {
    background-color: white;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 10px;
}

.content>p:last-child {
    margin-bottom: 0px;
}

.read-more a {
    font-size: 17px;
}

.read-more a:hover {
    text-decoration: none;
}

.blog:last-child {
    margin-bottom: 20px;
}

.content {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    overflow: hidden;
    -webkit-box-orient: vertical;
    margin-top: -2px;
}

@media screen and (min-width:1200px) {
    .image-div img {
        margin-top: 35px;
        width: 355px;
        height: 210px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .image-div img {
        margin-top: 45px;
        width: 290px;
        height: 200px;
    }
}

@media screen and (max-width:992px) {
    .image-div {
        display: none;
    }
}

/* Blog List */
.author {
    margin-top: 3px;
    display: block;
}

.fa {
    color: cadetblue;
}

.date {
    font-size: 14px;
}

/* User Blogs */
.btn_group {
    margin-top: 5px;
    margin-bottom: 5px;
}
.no-content{
    max-width: 550px;
    margin: auto;
    margin-top: 30px;
    font-size: 1.7rem;
    padding: 20px;
    background: lightgray;
    border-radius: 10px;
}