@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    background-color: #f1f1f1f1;
}
section .container {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 85vh;
}
footer {
    background-color: black;
    color: white;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    z-index: 2;
}
footer .icons a {
    color: white;
}
footer .icons i {
    margin: 0 6px;
}
header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 2;
    min-height: 60px;
    font-family: 'Ubuntu', sans-serif;
}
nav a {
    font-size: 1.2rem;
    padding-right: 30px!important;
}
nav .home{
    font-size: 1.35rem;
}
.jumbotron {
    padding: 32px;
    margin-top: 3vh;
    background: #E9ECEF;
}
.jumbotron p {
    font-size: 1.2em;
}

.display-4 {
    font-weight: 500;
    font-size: 3rem;
    color: black;
}
.btn-group-lg>.btn,
.btn-lg {
    padding: .5rem .5rem;
    font-size: 1.2rem;
    line-height: 1.2;
    border-radius: .3rem;
}